.canvas {
  height: 90vh;
}

.row {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  flex-direction: column;
  padding: 10px;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 50%;
}